<footer>
    <dl>
        <div>
            <dt>Sivun ominaisuudet</dt>
            <dd>
                <ul>
                    <li><a href="/seuranta">seuranta</a></li>
                    <li><a href="/pwa">"puhelinsovellus"</a></li>
                    <li><a href="https://kattila-api.linkkijkl.fi/docs">API</a></li>
                </ul>
            </dd>
        </div>
        <div>
            <dt>Sivustosta muualla</dt>
            <dd>
                <ul>
                    <li><a href="https://github.com/linkkijkl/kahvikamera">repo</a></li>
                    <li><a href="https://wiki.linkkijkl.fi/index.php?title=Kahvikamera&oldid=143">historia</a></li>
                </ul>
            </dd>
        </div>
    </dl>
</footer>