{% extends 'base.html' %} {% block scripts -%}
<script id="reloads">
    function displayTime() {
        const now = new Date();
        const options = {
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: false,
        };
        const timeString = now.toLocaleTimeString(undefined, options);
        document.getElementById("tarkistusaika").textContent = "Kahvin tila tarkistettu: " + timeString;
    }

    function updateImage() {
        const imageUrl = "/kahvi.jpg";
        const newImageUrl = imageUrl + "?t=" + new Date().getTime();

        document.getElementById("kahvikuva").src = newImageUrl;
        displayTime();
    }

    // This is for updating the count of submits
    function updatePage() {
        location.reload(true);
    }

    setInterval(updateImage, 10000);
    setInterval(updatePage, 100000);
</script>
{% endblock -%} {% block body -%}
<div class="container">
    <h1 id="otsikko">Kattilan kahvikamera</h1>
    <div class="flexrow">
        <div id="kahvitiedot" class="container">
            <p id="tarkistusaika"></p>
            <img id="kahvikuva" src="/kahvi.jpg" alt="Coffee Cam" />
            <form method="post" action="/kahvi" id="kahvi-form">
                <button id="painike" type="submit" value="Haluan kahvia" name="Submit">
                    <span id="kahvinappitxt">Haluan kahvia</span>
                </button>
            </form>
            <p id="halukkaat">{{ halukkaat }}<script>displayTime();</script></p>
        </div>
        {% if nimet -%}
        <div id="nimitiedot">
            <h2 id="nimiotsikko">Kattilassa paikalla:</h2>
            <ul class="nimilista">
                {% for nimi in nimet -%}
                <li class="nimi">{{ nimi }}</li>
                {% endfor -%}
            </ul>
            <a href="{{ url_for("seuranta_ohje") }}" id="seurantaohjelinkki">Miten liityn?</a>
        </div>
        {% endif -%}
    </div>
    <p><a href="https://github.com/linkkijkl/kahvikamera">repo</a></p>
</div>
{% endblock -%}
