{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="js/main.js"></script>
{% endblock head %}
{% block content %}
<div class="flexrow">
    <div class="container">
        <img id="coffee-image" src="https://kattila-api.linkkijkl.fi/coffee/image" alt="Kattila's coffee machines" />
        <button id="coffee-button">Haluan kahvia</button>
        <p id="interested">Halukkaat: haetaan...</p>
    </div>
    <div class="container" id="seuranta-container">
        <h2>Kattilassa paikalla:</h2>
        <ul id="seuranta-list"></ul>
        <a id="seuranta-join" href="/seuranta">liity seurantaan</a>
    </div>
</div>
{% endblock content %}