{% extends 'partials/_base.html' %}
{% block scripts %}
<script src="js/main.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="headline">Kattilan kahvikamera</h1>
    <div class="notice">
        <h2>🐧 väliaikaisesti Dumpin toimistossa <a href="https://navi.jyu.fi/space/m2437515">Ag D124</a> 🐧</h2>
        <p>Kahvikamera ja seuranta ovat tilapäisesti pois käytöstä. Palvelu pyritään saamaan takaisin käyttöön kesän aikana.</p>
    </div>
    <div class="flexrow">
        <div class="container">
            <img id="coffee-image" src="{{ api_host }}/coffee/image" alt="Kattila's coffee machines" />
            <button id="coffee-button">Haluan kahvia</button>
            <p id="interested">Halukkaat: haetaan...</p>
        </div>
        <div class="container" id="seuranta-container">
            <h2>Kattilassa paikalla:</h2>
            <ul id="seuranta-list"></ul>
        </div>
    </div>
    <p><a href="https://github.com/linkkijkl/kahvikamera">repo</a></p>
</div>
{% endblock %}
