{% extends 'partials/_base.html' %}
{% block body_contents -%}
<div id="seurantaohje">
    <h1>Liity ensimmäistä kertaa:</h1>
    <ol>
        <li>Saavu Kattilaan, tila Ag B437</li>
        <li>Kaiva esiin päätelaitteesi, minkä haluat ensiksi liittää itseesi</li>
        <li>Yhdistä laitteesi verkkoon nimeltä "iPhone (Pasi)", salasanaa tähän voit arvata, löytää Kattilasta, tai kysyä toiselta linkkarilta</li>
        <li>Varmista, että laitteesi MAC-osoite tulee pysymään samana, mm. "Randomised MAC-address" tai sen tyyliset vaihtoehdot pois päältä</li>
        <li>Navigoi osoitteeseen <a href="http://seuranta:8000">http://seuranta:8000</a> ja täytä sivulle auennut lomake</li>
    </ol>
</div>
{% endblock -%}
