name: Deploy to production
on:
  push:
    paths-ignore:
      - README.md
    branches:
      - main
jobs:
  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Generate static site
        uses: taiki-e/install-action@v2
        with:
          tool: zola
      - run: zola build

      - name: Deploy
        uses: up9cloud/action-rsync@master
        env:
          SOURCE: ./public/
          ARGS_MORE: --checksum
          VERBOSE: true

          HOST: ${{ secrets.DEPLOY_SSH_HOST }}
          PORT: ${{ secrets.DEPLOY_SSH_PORT }}
          USER: ${{ secrets.DEPLOY_USER }}
          KEY: ${{ secrets.SSH_KEY }}
          TARGET: ${{ secrets.DEPLOY_TARGET }}
