services:
  app:
    build: .
    container_name: kahvikamera
    restart: unless-stopped
    ports:
      - "127.0.0.1:${PORT}:5000"
    volumes:
      - "data:/data"
  
  ssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: openssh-server
    environment:
      - PUBLIC_KEY=${SSH_LOGIN_PUBLIC_KEY}
      - USER_NAME=kahvi
      - PUID=0
      - PGID=0
    volumes:
      - "data:/data"
      - "openssh-config:/config"
    ports:
      - "${SSH_PORT}:2222"


volumes:
  openssh-config:
  data:
